<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Baby AES Demo</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/aes-history">History</a></li>
            <li><a href="/aes-working">Working</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/encrypt">Encrypt</a></li>
            <li><a href="/decrypt">Decrypt</a></li>
        </ul>
    </nav> 
    <h1>Baby AES</h1>
    <div class="container">
    <div class="content11">
        <h2>Mathematical Concepts</h2>
    </div>
    <section id="math-concepts">
        <a href="/finite-fields" class="concept"><h3>Finite Fields (Galois Fields)</h3></a>
        <a href="/spn" class="concept"><h3>Substitution-Permutation Network</h3></a>
        <a href="/s-box" class="concept"><h3>S-Box (Substitution Box)</h3></a>
        <a href="/xor" class="concept"><h3>Bitwise XOR Operations</h3></a>
        <a href="/key-schedule" class="concept"><h3>Key Schedule</h3></a>
        <a href="/shiftrows-mixcolumns" class="concept"><h3>ShiftRows and MixColumns</h3></a>
        <a href="/matrix-operations" class="concept"><h3>Matrix Operations</h3></a>
        <a href="/cyclic-groups" class="concept"><h3>Cyclic Groups</h3></a>
    </section>
    <div>
    <footer>
        <p>Made By:</p>
        <div class="team-names">
            <span>Suryakumar Selvakumar</span>
            <span>Vaishnavi Dathrak</span>
            <span>Yeamon Sultana</span>
            <span>Manideep Pilli</span>
        </div>
        <p>&copy; 2024 Baby AES</p>
    </footer>
</body>
</html>